
.RuQYR {
    border-bottom: 1px solid rgb(131, 130, 130);
    overflow: auto;
    white-space: nowrap;
    padding-right: 100px;
}
a, a:active, a:hover, a:visited {
    color: rgb(243 7 7);
    outline: 0px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.RuQYR label:first-child {
    margin-left: 6px;
}
.RuQYR label.active {
    font-weight: 600;
    border-bottom: 3px solid rgb(243 7 7);
    color: rgb(243 7 7);
}
.RuQYR label {
    display: inline-block;
    padding: 10px;
    font-weight: 400;
    color: rgb(61, 59, 59);
    font-size: 1rem;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-right: 35px;
    cursor: pointer;
    margin-bottom: 0;
}

@media (min-width: 64em){
    
    .RuQYR {
        width: 100%;
        padding-right: 0px;
    }
    .kzSbX {
        vertical-align: middle;
        width: auto;
        max-width: 88%;
        display: inline-block;
        text-overflow: unset;
        white-space: unset;
    }
    .RuQYR label {
        font-size: 1.125rem;
    }
}
.mat-elevation-z5{
    position: relative;
}
.boxShadow{
    box-shadow: 0 0 6px 0 #00000030;
}
.white_Background{
    background-color: #fff;
    /* border-radius: 5px; */
    border-bottom: 1px solid;
    width: 100%;
}
.border-center-part{
    background: #2ec72e;
}
.border-left-part{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #2ec72e;          
}
.border-right-part{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px; 
    background: #2ec72e;   
}
.wd-5{
    width: 5%;
}
.wd-10{
    width: 10%;
}
.countNumber{
    background: red;position: absolute;
    margin-left: 25px;
    top: 7px;
    text-align: center;
    border-radius: 7px;
    width: 18px;
    height: 18px;
    background-color: #ff6161;
    border: 1px solid #fff;
    font-weight: 400;
    color: #f0f0f0;
    line-height: 16px;
    font-size: 12px;
}