<div class="d-flex justify-content-between pt-2">
    <div class="d-flex">
        <div class="ml-2">
            <i class="fa fa-arrow-left"></i>
        </div>
        <label class="ml-2">{{restaurentName}}</label>
    </div>
    <div class="d-flex mr-4">
        <label>My Orders</label>
        <div class="d-flex">
            <i class="fa fa-shopping-cart ml-3 pt-1" aria-hidden="true"></i>
            <div *ngIf="cartCount!=0" class="countNumber">{{cartCount}}</div>
        </div>
    </div>
</div>
<div class="">
    <div class="mat-elevation-z5">
        <div class="RuQYR d-flex">
            <a title="" class="kzSbX" *ngFor="let list of tableMenuList"  (click)="listChanger(list)">
                <label [ngClass]="{'active' : selectedTab  == list}" >{{list.menu_category}}</label>
            </a>
        </div>
    </div>
    <div>
        <div class="col-md-12 mt-2 p-0">
            <div class="white_Background d-flex" *ngFor="let categories of tableCategories">
                <div class="col-md-12 col-sm-12 p-2" >
                    <div class="col-md-12 d-flex p-0">
                        <div class="col-md-10 col-sm-10 p-0">
                            <label>{{categories.dish_name}}</label>
                            <div class="d-flex justify-content-between">
                                <label>{{categories.dish_currency}}{{categories.dish_price}}</label>
                                <label>{{categories.dish_calories}} calories</label>
                            </div>
                        </div>
                        <div class="text-center" style="width: 100px;height: 60px;">
                            <img [src]="categories.dish_image" style="width: 100%;height:80px;padding: 10px;" alt="">
                        </div>
                    </div>
                    <p>{{categories.dish_description}}</p>
                    <div class="d-flex">
                        <button class="border-left-part border-0 text-white" style="width: 50px;" (click)="countSectionMinus(cartCount-1,categories)">-</button>
                        <input disabled class="text-center border-0 border-center-part text-white" style="width: 70px;" type="number" min="0" [(ngModel)]="categories.count">
                        <button class="border-right-part border-0 text-white" style="width: 50px;" (click)="countSection(cartCount+1,categories)">+</button>
                    </div>
                    <p *ngIf="categories.addonCat.length!=0" class="text-danger">Customization Available</p>
                </div>
            </div>
        </div>
    </div>
</div>